[submodule "common-types/Common-Types"]
	path = common_types/Common-Types
	url = https://github.com/CONNECT-Solution/Common-Types
[submodule "netex/NeTEx"]
	path = netex/NeTEx
	url = git@github.com:NeTEx-CEN/NeTEx.git
[submodule "crossref/schema"]
	path = crossref/schema
	url = https://gitlab.com/crossref/schema.git
[submodule "sdmx_ml/repo"]
	path = sdmx_ml/repo
	url = git@github.com:sdmx-twg/sdmx-ml.git
[submodule "tpdb/repo"]
	path = tpdb/repo
	url = git@github.com:TermCOMP/TPDB.git
