name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Python ${{ matrix.python }} - ${{ matrix.collection.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        collection:
          - { name: "Amadeus", id: "amadeus" }
          - { name: "Autosar", id: "autosar" }
          - { name: "BPMN", id: "bpmn" }
          - { name: "Common Types", id: "common-types" }
          - { name: "Crossref Metadata", id: "crossref" }
          - { name: "DateX II", id: "datexii" }
          - { name: "EWP", id: "ewp" }
          - { name: "Generali", id: "generali", skip_mypy: true }
          - { name: "IPXACT", id: "ipxact" }
          - { name: "NeTEx", id: "netex" }
          - { name: "NPO API", id: "npo" }
          - { name: "ReqIF", id: "reqif" }
          - { name: "Sabre", id: "sabre" }
          - { name: "Sdmx-ml", id: "sdmx-ml", skip_mypy: true }
          - { name: "SpaceX", id: "spacex" }
          - { name: "TPDB", id: "tpdb" }
          - { name: "Travelport", id: "travelport" }
          - { name: "UBL", id: "ubl", skip_mypy: true }
          - { name: "Voko", id: "voko" }
          - { name: "XCBL", id: "xcbl" }
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Generate Code
        run: invoke ${{ matrix.collection.id }}.build
      - name: Run Tests
        run: invoke ${{ matrix.collection.id }}.test
      - name: Run mypy
        if: ${{ !matrix.collection.skip_mypy }}
        run: invoke ${{ matrix.collection.id }}.mypy